/*---------GENERAL------*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    color: hsl(176, 68%, 64%);
    display: flex;
    flex-direction: column;
}


h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}

h2{
    font-size: 2em;
}
/*-------NAVBAR-----*/

#mainNavbar{
    justify-content: space-around;
}
#mainNavbar li{
    margin-left:1.5rem;
}

#mainNavbar a{
    color: hsl(176, 68%, 64%);
    transition: color 0.5s;
}
#mainNavbar a:hover{
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
    font-weight: 700;
}

#intro_section{
    width: 75%;
}

#intro_section h1{
    font-size: 3rem;
}
#intro_section button, #fifth_section button{
    font-weight: 700;
    padding: 0.75rem 3.75rem;
    background-color: hsl(198, 60%, 50%);
}

#intro_section button:hover, #intro_section button:active, #fifth_section button:hover, #fifth_section button:active{
    background-color: hsl(176, 68%, 64%);
}

#second_section img{
   min-height: 100px;
}

#second_section h2{
    margin-top: 3rem;
 }

 #second_section p{
    margin-top: 1rem;
    font-size: 1rem;
 }

#third_section p{
    font-size: 1em;
    margin-top: 1.5rem;
}

#third_section h2{
    font-size: 3rem;
}

#third_section a{
    color: hsl(198, 60%, 50%);
    transition: color 0.5s;
    font-size: 1em;
    font-weight: 400;
}

#third_section a:hover{
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}


.testimonial{
    background-color: hsl(219, 30%, 18%);
    padding: 2em 1rem 0;
    border-radius: 2%;
    box-shadow: 4px 4px 5px 5px  hsla(217, 28%, 15%, 0.7);
}
.testimonial img{
    transform: scale(0.3, 0.3);
    border-radius: 50%;
    transform-origin: left;
}

.user-name{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.user-position{
    font-size: 0.8em;
}

#fifth_section{
    background-color: hsl(217, 28%, 15%);
    transform: translateY(8rem);
    border-radius: 3%;
}


#fifth_section input{
    height: 3rem; 
    padding-left: 2rem;
}

#fifth_section input::placeholder{
    color: hsl(176, 68%, 64%);
}

#fifth_section button{
    padding:  0.85rem;
    font-size: 0.75rem;
}

/*---------FOOTER-----------*/
footer{
    padding-top: 8rem;
    color: hsl(0, 0%, 100%);;
    background-color: hsl(216, 53%, 9%);
}

footer li{
    list-style: none;
    margin: 1rem 0;
    padding-left: 0;
}

footer a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    transition: color 0.5s;
    color: hsl(0, 0%, 100%);
    
}

footer a:hover{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}


#footer_location{
    margin: 1rem 0;
}

#social_media{
    justify-content: center;
    margin: 1rem 0;
    text-align: center;
}


#social_media svg{
    margin: 1rem 0.25rem;
}

#social_media a:hover{
    font-weight: 700;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }

  .attribution a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }

  @media(max-width:400px){

    #intro_section{
        width: 100%;
    }
     #intro_section h1{
          font-size: 2em;
      }

     #third_section h2,  #fifth_section h2, h2{
        font-size: 1.5rem;
    }

    #mainNavbar a{
        font-size: 0.7em;
    }

    

  }