/*---------GENERAL------*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: hsl(217, 28%, 15%);
    color: hsl(176, 68%, 64%);
    display: flex;
    flex-direction: column;
    align-items: space-between;
}


h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
}

h2{
    font-size: 2em;
}
/*-------NAVBAR-----*/

#mainNavbar{
    justify-content: space-around;
}
#mainNavbar li{
    margin-left:1.5rem;
}

#mainNavbar a{
    color: hsl(176, 68%, 64%);
    transition: color 0.5s;
}
#mainNavbar a:hover{
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
    font-weight: 700;
}

#intro_section h1{
    font-size: 3em;
}
#intro_section button{
    font-weight: 700;
    padding: 0.75rem 3.75rem;
    background-color: hsl(198, 60%, 50%);
}

#intro_section button:hover, #intro_section button:active{
    background-color: hsl(176, 68%, 64%);
}

#second_section img{
   min-height: 100px;
}

#second_section p{
    font-size: 1rem;
 }




/*---------FOOTER-----------*/
footer{
    background-color: hsl(216, 53%, 9%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }

  .attribution a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }